.main-menu ul.navbar-nav li.nav-item a.nav-link{
    color:#707070f5;
    font-weight: 500;
}
.main-menu ul.navbar-nav li.nav-item.active a.nav-link{
    color:#707070;
    font-weight: 600;
}

p{
    color: #707070;
}
.carousel-section::before {
    position: absolute;
    content: "";
    height: 202px;
    width: 233px;
    background-image: url(images/bg-element.png);
    bottom:404px;
    left: -40px;
    opacity: .1;
}
.carousel-caption{
    text-align: left;
}
.carousel-caption h1{
    color:#000000;
}
.btn-buy-now{
    border: 1px solid #000;
    background: black;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-bottom-30{
    margin-bottom:30px;
}
.production-section a{
    text-decoration: none;
    color: #FF9D00;
    font-weight: 500;
}
.card {
    text-align: center;
    box-shadow: 0px 0px 10px lightgrey;
    padding:30px;
}
.card-body p {
    margin-bottom: 30px;
}
.card-body h5 {
   font-size: 22px;
}
.card button.btn-buy-now{
    margin-top: 20px;
}
.section-padding-80{
    padding: 80px 0;
}
h2.section-title{
    font-size: 35px;
    margin-bottom: 60px;
}
img.single-category-styling {
    width: 50%;
}
.single-category-styling img {
    margin-bottom: 20px;
}
.single-category-styling {
    width: 100%;
    box-shadow: 0 0 10px lightgrey;
    padding: 40px;
    border-radius: 0px 10px 0px 20px;
}

.single-column-doule-category:first-child{
    margin-bottom: 30px;
    border-radius: 10px 0px 20px 0px;
}
.single-column-doule-category:last-child{
    margin-top: 30px;
}
.vertical{
    text-transform: uppercase;
    letter-spacing:3px;
    transform: rotate(-90deg);
    opacity: .1;
    margin-top: 250px;
    font-size:68px;

}
.bg-element img{
    position: absolute;;
    opacity:.1;
    width: 233px;
    margin-top: 300PX;

}

h2.section-title:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 100px;
    bottom: -20px;
    left: 40px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #FFD019, #FF9C35);
}

ol.carousel-indicators li.active {
    padding:1px;
    background-image:linear-gradient(45deg, #FF9C35, #FFD019 );
}
ol.carousel-indicators li {
    padding:1px;
    background-color:lightgray;
    border-radius:3px;
}

   